.home-content .text-animate {
    position: relative;
    max-width: 16rem; /*ubah rem*/
    width: 9 rem; }


.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98; }

.logo .animate,
.navbar .animate,
.home-content h1 .animate,
.home-content .text-animate h3 .animate,
.home-content p .animate,
.btn-box .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}





@keyframes homeBgText{
    0%,
    10%,
    100% { background-position: -16rem 0; }/*ubah rem*/

    65%,
    85% { background-position: 0 0; }}

@keyframes homeCursorText{
    0%,
    10%,
    100% { width: 0; }

    65%,
    78%,
    85% { width: 100%;
          opacity: 1; }

    75%,
    81% { opacity: 0; }}

@keyframes showRight {
    100% {
        width: 0;
    }
}