
/*

* {
    
}

*/


:root {     --bg-color: #000000;
            --ijo-tr: #0097261f;
            --second-bg-color: #1d1d1d;
            --text-color: #00c40a;
            --main-color: #19551e;
            --bg-h-color: #161718; 
            --green1: #002502;
            --green2: #0f3811;
            --green3: #315332;
            --green4: #67a769;
            --green5-trns: #041306b0;
            --blue: #00abb831;
            --test1: #a6ff00;
            --test2: #e00700;
            --test3: #2200e4;
    

}




body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: var(--bg-color);
}

.container {
    padding: 20px;
    box-shadow: 3px 3px 30px var(--text-color);
    background: var(--bg-h-color);
    border-radius: 20px;
    margin: 1px;
    margin-top: 20px;
    
    font-size: 140%; /* JANGAN LUPA UBAH FONT *//* JANGAN LUPA UBAH FONT *//* JANGAN LUPA UBAH FONT *//* JANGAN LUPA UBAH FONT */
}

.container header .filterEntries {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filterEntries .entries {
    color: var(--text-color);
}



.filterEntries .entries select,
.filterEntries .filter input {
    padding: 7px 10px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.filterEntries .entries select {
    padding: 5px 10px;
}

.filterEntries .filter {
    display: flex;
    align-items: center;
}

.filter label {
    color: var(--text-color);
    margin-right: 5px;
}

.filter input:focus {
    border-color: var(--bg-color);
}





.container header .addItemBtn {
    margin-bottom: 15px;
}

header .addItemBtn button, .popup header .closeBtn, .popup footer .submitBtn {
    padding: 9px 14px;
    color: var(--bg-color);
    background: var(--main-color);
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 3px solid var(--main-color);
    
    border-radius: 5px;
}

.addItemBtn button:hover {
    color: var(--main-color);
    background: var(--bg-color);
}



/*.btn-box {  position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem; }

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s; }

.btn-box .btn:hover {
    color: var(--main-color); }

/*.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color); }

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color); }

.btn-box .btn:nth-child(2)::before {
    background: var(--main-color); }

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s; }

.btn-box .btn:hover:before {
    width: 100%; }
*/









.container table {
    border-collapse: collapse;
    text-align: center;
    
}

.container table thead tr th:nth-child(1) {width: 1%;}
.container table thead tr th:nth-child(2) {width: 30%;}
.container table thead tr th:nth-child(3) {width: 1%;}
.container table thead tr th:nth-child(4) {width: 1%;}
.container table thead tr th:nth-child(5) {width: 1%;}
.container table thead tr th:nth-child(6) {width: 1%;}
.container table thead tr th:nth-child(7) {width: 1%;}
.container table thead tr th:nth-child(8) {width: 17%;} /* angka tetap */

.container table tbody tr td:nth-child(1), .container table tbody tr td:nth-child(3),
.container table tbody tr td:nth-child(4), .container table tbody tr td:nth-child(5),
.container table tbody tr td:nth-child(6), .container table tbody tr td:nth-child(7) {
    text-align: right;
    
}







table .heading {
    background: var(--ijo-tr);
}

table .heading th:hover {
    background: var(--green5-trns);
    transition: 0.3s;
}

table tr th, table tr td {
    padding: 4px 15px;
}

table tr th {
    padding: 12px 15px;
}


table tr td {
    border-bottom: 1px solid var(--bg-color);
}

table tbody tr:first-child td {
    border-top: 1px solid var(--bg-color);
}


/*table tbody tr:nth-child(odd) {
    background: #41414149;
    
}*/

table tr:hover {
    cursor: pointer;
    background: var(--ijo-tr);
    
}

table td button {
    position: relative;
    margin: 0 3px;
    padding: 1px;
    width: 35px;
    color: var(--bg-color);
    background: var(--main-color);
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 2px solid var(--main-color);
    border-radius: 15%;
    z-index: 1;
}

table td button:hover {
    color: var(--main-color);
}

table td button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
    border-radius: 15%;
}

table td button:hover::before {
    width: 100%;
}



/*
.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s; }

.btn-box .btn:hover:before {
    width: 100%; }

*/


.container footer {
    margin-top: 25px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .pagination {
    display: flex;

}

footer .pagination button {
    width: 40px;
    padding: 5px 0;
    color: var(--text-color);
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid var(--text-color);
    margin: 0;
}

.pagination button:first-child {
    width: 85px;
    border-radius: 5px;
    opacity: 0.6;
    pointer-events: none;
}

.pagination button:last-child {
    width: 85px;
    border-radius: 5px;
    opacity: 0.6;
    pointer-events: none;
}

.pagination button.active, .pagination button:hover {
    background: var(--ijo-tr);
}

.pagination button.act:first-child {
    opacity: 1;
    pointer-events: auto;
}

.pagination button.act:last-child {
    opacity: 1;
    pointer-events: auto;
}





table tr .empty {
    text-align: center;
}

















.dark_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.popup {
    border-radius: 5px;
    box-shadow: var(--text-color);
    background: var(--second-bg-color);
    transition: 0.4s;
    user-select: none;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
}

.popup header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--bg-color);
    padding: 10px 20px;
}

.popup header .closeBtn {
    font-size: 30px;
    font-weight: 300;
    padding: 0 15px;
}

.popup header .closeBtn:hover, .popup footer .submitBtn:hover {
    border-color: var(--bg-color);
    transition: 0.3s;
}

.popup footer {
    border-top: 1px solid var(--bg-color);
    padding: 12px 20px;
    text-align: right;
}

.popup form {
    padding: 10px 20px;
    display: flex;
    align-items: flex-start;
}

form .inputFieldContainer .satuField,
form .inputFieldContainer .duaField {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

form .inputFieldContainer .satuField input,
form .inputFieldContainer .duaField input {
    width: 200px;
}

.inputFieldContainer .form_control {
    margin: 10px 0;
}

.inputFieldContainer .form_control label {
    display: block;
    color: var(--text-color);
    margin-bottom: 5px;
}

.form_control input {
    padding: 10px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background: var(--bg-h-color);
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    width: 100%;
}

.form_control input:focus,
.form_control input:valid {
    border-color: var(--bg-color);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    display: none;
}

.active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}