* {
    margin: 0;
}

:root {     --bg-color: #000000;
            --second-bg-color: #1d1d1d;
            --text-color: #00c40a;
            --main-color: #19551e;
            --bg-h-color: #161718; 
            --green1: #002502;
            --green2: #0f3811;
            --green3: #315332;
            --green4: #67a769;
            --test1: #a6ff00;
            --test2: #e00700;
            --test3: #2200e4;
    

}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: var(--bg-color);
}

.container {
    padding: 20px;
    box-shadow: 3px 3px 30px var(--text-color);
    background: var(--bg-h-color);
    border-radius: 20px;
    margin: 1px;
    margin-top: 20px;
}

.container header .filterEntries {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filterEntries .entries {
    color: var(--text-color);
}

.filterEntries .entries select,
.filterEntries .filter input {
    padding: 7px 10px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.filterEntries .filter {
    display: flex;
    align-items: center;
}

.filter label {
    color: var(--text-color);
    margin-right: 5px;
}

.filter input:focus {
    border-color: var(--bg-color);
}





.container header .addItemBtn {
    margin-bottom: 15px;
}

header .addItemBtn button {
    padding: 9px 14px;
    color: var(--bg-color);
    background: var(--main-color);
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 3px solid var(--main-color);
    
    border-radius: 5px;
}

.addItemBtn button:hover {
    color: var(--main-color);
    background: var(--bg-color);
}



/*.btn-box {  position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem; }

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s; }

.btn-box .btn:hover {
    color: var(--main-color); }

/*.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color); }

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color); }

.btn-box .btn:nth-child(2)::before {
    background: var(--main-color); }

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s; }

.btn-box .btn:hover:before {
    width: 100%; }
*/









































































